@media all and (max-width: 1520px){

    .header > div{
        padding: 0 20px;
    }

    .floor1 > li{
        width: 155px;
    }

    .floor2{
        width: 155px;
    }


}

@media all and (max-width: 1390px){

    .logo a img{
        width: 200px;
    }

    .floor1 > li{
        width: 135px;
    }

    .header_bot{
        padding-right: 0px !important;
    }
}

@media all and (max-width: 1200px){

    .container{
        box-sizing: border-box;
        padding: 0 10px;
    }

    .section_inner{
        padding-top: 0px;
    }

    .section_content_box{
        padding-bottom: 0px;
    }

    #header{
        position: relative;
    }

    .header_top{
        height: 33px;
    }

    .header_top *{
        font-size: 12px !important;
    }

    .htr_floor1 > li:nth-child(6){
        display: none;
    }

    .ht_box.left ul li:not(:first-child){
        display: none;
    }

    .logo a img{
        width: 140px;
    }

    #nav{
        display: none;
    }

    .hbr_slogan img{
        height: 35px;
    }

    .header_bot{
        height: 60px;
    }

    .main_nav_search_btn{
        width: 35px;
        height: 35px;
    }

    .mob_nav_open{
        display: block;
    }

    .mob_nav.active{
        display: block;
    }

    .mnsb_ico{
        width: 100%;
        height: 100%;
        border-width: 1px;
    }

    .mnsb_ico ion-icon{
        font-size: 21px;
    }

    .mob_page_util{
        display: block;
    }


    .main_tab_menu ul li button span{
        font-size: 15px;
    }

    .main_tab_slide{
        width: 100%;
    }

    .main_tab_slide:first-child{
        margin-bottom: 10px;
    }

    .main_tab_slide_box{
        height: auto;
    }

    .main_tab_slide_box .main_slide_type1 .ss_img{
        height: 314px;
    }

    .main_slide_type1 .ss_img{
        height: 314px;
        overflow: hidden;
    }

    .main_bot_box{
        min-height: auto;
    }

    .main_bot_box > div{
        width: 100%;
    }

    .main_tab_menu.type_sub ul li{
        width: auto;
    }

    .main_tab_menu ul li button{
        padding: 0 22px;
    }

    .main_notice ul li a{
        font-size: 14px;
    }

    .main_slide_type1 .ss_img{
        height: 200px;
    }

    .seminar_tit{
        width: 115px;
    }

    .seminar_tit strong{
        font-size: 18px;
    }

    .seminar_slide{
        width: calc(100% - 125px);
    }

    .section_tit{
        padding: 15px 0;
    }

    .section_tit h2{
        font-size: 22px;
    }

    .section_moving_btn{
        display: none;
    }
    
    .section_layout{
        max-height: 9999px;
    }

    .layout_box{
        width: 100% !important;
    }

    .section_layout.type1 .layout_box.wide > div{
        width: 100%;
        height: auto;
    }

    .main_tab_menu.type_mini{
        display: none;
    }

    .main_tab_mobile_menu{
        display: block;
    }

    .tid_tit{
        justify-content: center;
        margin-bottom: 15px;
    }

    .ss_banner_box{
        flex-direction: column;
    }

    .ssb_date{
        text-align: center;
    }

    .act_bill_list ul li{
        width: calc(50% - 10px);
        margin-bottom: 13px;
    }

    .act_bill_list{
        height: auto;
    }

    .sns_list_box ul li{
        width: calc(50% - 7.5px);
        margin-bottom: 15px;
    }

    .sns_list{
        width: 100%;
    }

    .main_act_tab_btn.floor_1st{
        display: none;
    }

    .main_act_tab_select{
        display: block;
    }

    .main_act_tab_btn.floor_2nd ul{
        justify-content: space-between;
    }

    .main_act_tab_btn.floor_2nd ul li{
        width: calc(50% - 5px);
        margin: 0px;
    }

    .main_act_tab_btn.floor_2nd ul li button{
        width: 100%;
    }

    .main_act_tab_btn.floor_2nd ul li button span{
        line-height: 35px;
        font-size: 14px;
    }

    .main_act_tab_cont.floor_1st{
        border: none;
    }

    .sns_tab_btn{
        justify-content: flex-start;
        box-sizing: border-box;
        padding: 0 20px;
    }

    .sns_tab_btn a{
        right: 10px;
    }

    .sns_list_slide{
        padding-top: 0px;
    }

    .sns_list_slide .swiper-slide{
        width: calc(50% - 7.5px) !important;
    }

    .dr_table_tab_box{
        display: none;
    }

    .result_wide_tab{
        width: 100%;
        flex: none;
        margin-bottom: 10px;
    }

    .result_wide_tab_cont{
        width: 100%;
        height: auto;
        margin-left: 0px;
    }

    .rwt_info_link:first-child{
        margin-bottom: 10px;
    }

    .main_act_tab_cont.floor_2nd{
        height: auto;
    }

    .dr_chart_tab_cont{
        width: 100%;
        flex: none;
    }

    .dr_chart_tab_cont canvas{

    }

    .layout_box.half{
        height: auto;
    }

    .current_tab_cont{
        height: auto;
    }

    .ctc_chart_box.type_pos_a{
        position: static;
        width: 45%;
        height: auto;
        transform: translateY(0);
    }

    .ctc_chart_box.type_pos_a span{
        display: none;
    }

    .rwt_chart{
        height: auto;
        padding: 60px 0;
        margin: 10px 0;
    }

    .rwt_chart_box{
        padding: 0px;
        width: 120px;
        height: 120px;
    }

    .chart_labels{
        margin-top: 15px;
    }

    .comp_list_tab_btn{
        display: none;
    }

    .comp_list_tab_cont{
        width: auto;
    }

    .comp_slide_box{
        width: 725px;
        padding: 13px 0px 10px 0px;
    }

    .comp_box{
        justify-content: center;
        padding: 12px 0 !important;
    }

    .swiper_control.pos_comp{
        width: calc(100% + 130px);
    }

    .pltc_list ul li{
        width: calc(33.3333% - 7px);
        margin-bottom: 10px;
    }

    .pltc_list ul li:nth-last-child(-n+5){
        display: none;
    }

    .pltc_list ul li:nth-child(4){
        width: 100%;
    }

    .section_layout.type_current{
        height: auto;
    }

    .publications_content{
        height: auto;
    }

    .publications_main{
        height: auto;
    }

    .publications_main > div{
        width: 100%;
    }

    .pblc_bookcover{
        padding: 0 60px 20px 60px;
    }

    .pblc_bookcover ul{
        flex-direction: row;
    }

    .pblc_bookcover ul li.wide{
        width: 100%;
        margin-bottom: 25px;
    }

    .pblc_bookcover ul li.wide a{
        width: 275px;
        height: 445px;
        margin: 0 auto;
    }

    .publications_banner{
        margin-top: 40px;
    }

    .publications_banner ul{
        gap: 8px 0;
    }

    .publications_banner ul li{
        width: 100%;
        height: 55px;
    }

    .publications_banner ul li a img{
        height: 35px;
    }

    .footer{
        margin-top: 10px;
        padding-bottom: 15px;
    }

    .ft_list{
        display: none;
    }

    .footer_inner > div{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .ft_logo{
        padding-bottom: 25px;
    }

    .ft_address{
        width: 100%;
        border-bottom: 1px solid #ebebeb; 
        padding-bottom: 25px;
        margin-bottom: 25px;
    }

    .ft_address address{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .ft_address address p{
        text-align: center;
    }

    .ft_address address ul li{
        width: 100%;
        margin-top: 8px;
    }

    .ft_address address ul li::before{
        display: none;
    }

    .ft_page_link{
        display: none;
    }

    .ft_copyright{
        margin-bottom: 0px;
    }

}